<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearable.datalayerexample" >


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Alert"
        android:theme="@style/CustomTitle" >

        <service android:name="com.example.wearable.datalayerexample.ServiceClass" android:process=":remote">

        </service>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name=".Starter"
            android:enabled="true"
            android:exported="false"
            android:label="Starter" >

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.wearable.datalayerexample.PassWordActivity"
            android:label="Alert" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Alert">
        </activity>
        <activity
            android:name=".ChangePWActivity"
            android:label="Alert">
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:label="Alert">
        </activity>
        <activity
            android:name=".GeoCoding"
            android:label="Alert">
        </activity>
        <receiver android:name =".Broadcast">
            <intent-filter android:priority="9999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service android:name=".Sound">
            <intent-filter >
                <action android:name="com.example.wearable.datalayerexample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>